.normal{
    border: 2px solid red;
}
.round1{
    border: 2px solid red;
    border-radius: 5px;
}
.round2{
    border: 2px solid red;
    border-radius: 8px;
}
.round3{
    border: 2px solid red;
    border-radius: 12px;
}