
.dotted,.dashed,.solid,.double,.groove,.ridge,.inset,.outset{
    outline-color: red;
}
.dotted {
    outline-style: dotted;
}
.dashed {
    outline-style: dashed;
}
.solid {
    outline-style: solid;
}
.double {
    outline-style: double;
}
.groove {
    outline-style: groove;
}
.ridge {
    outline-style: ridge;
}
.inset {
    outline-style: inset;
}
.outset {
    outline-style: outset;
}